.footer {
  background-color: #4267B2;
  color : white;
  text-align: center;
  padding: 8px;
}

.footer li {
  display: inline-block;
  list-style: none;
  padding-left: 0
}

.footer a {
  color: white;
  font-size: 27px;
  margin: 11px;
}
